 creating redirection function
 
<?php

    if(!function_exists('redirect')){
        function redirect($page){
            header('location:'.$page);
            exit();
        }
        
    } 
 ?>
 
 
 call the function
 
 <?php
 
 redirect('http://google.cd');
